<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Wastebook</title>
</head>

<body>
    
    <%-include('./partials/header')%>
<img class="mainImgs" src="Im-hungry.jpg" alt="">
    <section id="landingPage">
        <h1>Todays Waste</h1>
    <div class="Images">
        
        <% images.forEach(element => { %>
        <div class="Image">
           <img id="wasteImg" src="<%= element.url %>" alt="">
        </div>
    <% }) %>
</section>
<%-include('./partials/footer')%>

</body>

</html>