<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <title>Wastebook</title>
          <link rel="stylesheet" href="/style.css" />
     </head>

     <body>
          <%-include('./partials/header')%>

          <h1 class="marginbottom">
               10 nützliche Tipps zur Vermeidung von Lebensmittelverschwendung
          </h1>

          <div class="flexbox margin">
               <img
                    class="imagesize"
                    src="/dan-gold-4_jhDO54BYg-unsplash.jpg"
                    alt=""
               />
               <div class="padding padding1">
                    <h2>1. Bewusst einkaufen – Planung ist alles</h2>
                    <p>
                         Es ist einfach und die effektivste Methode: Kaufen Sie
                         nicht zu viel ein, sondern nur das, was wirklich
                         gebraucht – und verbraucht – wird. Fertigen Sie einen
                         Speiseplan an und kaufen Sie nur die benötigten
                         Zutaten. Sie werden feststellen, dass Sie künftig
                         weniger Lebensmittelabfälle produzieren.
                    </p>
               </div>
          </div>

          <div class="flexbox2 margin">
               <img class="imagesize" src="/kühlschrank.jpeg" alt="" />
               <div class="padding padding1">
                    <h2>2. Lernen Sie Ihren Kühlschrank kennen</h2>
                    <p>
                         Setzen Sie Ihren Kühlschrank klug ein: Überschüssiges
                         saisonales Obst und Gemüse sowie Brot und andere
                         Lebensmittel, die Sie nicht schnell verbrauchen,
                         gehören ins Gefrierfach. <br />
                         Verderbliches können Sie zu einem fertigen Essen
                         zubereiten und für später einfrieren. Mit dem
                         Gefrierbehälter-Set von Tupperware geht das umso
                         leichter.
                    </p>
               </div>
          </div>

          <div class="flexbox margin">
               <img
                    class="imagesize"
                    src="/ella-olsson-7EhPbdAQG-s-unsplash.jpg"
                    alt=""
               />
               <div class="padding padding1">
                    <h2>3. Das Ablaufdatum = kein Wegwerfdatum!</h2>
                    <p>
                         Ein überschrittenes Mindesthaltbarkeitsdatum führt
                         häufig dazu, dass wir abgelaufene Lebensmittel
                         wegwerfen. Dabei sollte ein Produkt bei korrekter
                         Lagerung auch danach noch essbar sein. Erst wenn Sie
                         einen unangenehmen Geruch, Geschmack oder eine
                         veränderte Konsistenz feststellen, sollte es nicht mehr
                         verzehrt werden.
                    </p>
               </div>
          </div>

          <div class="flexbox2 margin">
               <img class="imagesize" src="/lagerung_lebensmittel.jpg" alt="" />
               <div class="padding padding1">
                    <h2>4. Lebensmittel richtig lagern</h2>
                    <p>
                         Die korrekte Temperatur kann die Haltbarkeit von
                         Produkten verlängern. Machen Sie sich die
                         unterschiedlichen Lagertemperaturen bewusst und
                         bewahren Sie Lebensmittel im Kühlschrank schlau auf:
                         Obst- und Gemüse gehören ins untere Fach, weiter oben
                         ist der richtige Platz für länger haltbare Produkte wie
                         Käse und Joghurt.
                    </p>
               </div>
          </div>

          <div class="flexbox margin">
               <img
                    class="imagesize"
                    src="/ja-ma--gOUx23DNks-unsplash.jpg"
                    alt=""
               />
               <div class="padding padding1">
                    <h2>5. Den Überblick bewahren</h2>
                    <p>
                         Behalten Sie den Inhalt Ihres Kühlschranks im Auge –
                         vieles gerät hinten in den Fächern gerne einmal in
                         Vergessenheit und wird erst wiederentdeckt, wenn es
                         bereits verdorben ist. Mit einem aufgeräumten
                         Kühlschrank haben Sie immer im Blick, was zuerst
                         gegessen oder nachgekauft werden muss und vermeiden so
                         überflüssige Lebensmittelabfälle.
                    </p>
               </div>
          </div>

          <div class="flexbox2 margin">
               <img
                    class="imagesize"
                    src="/joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg"
                    alt=""
               />
               <div class="padding padding1">
                    <h2>6. Mehrere Portionen vorkochen</h2>
                    <p>
                         Wenn Sie verschiedene Speisen zur gleichen Zeit
                         vorbereiten, können Sie Wasser, Energie und Zeit
                         sparen. Übrig Gebliebenes wandert dann in die
                         Tiefkühltruhe oder den Kühlschrank, nicht mehr in den
                         Müll. Praktisch: Dadurch wartet immer eine fertige
                         Mahlzeit im Kühlfach auf Sie.
                    </p>
               </div>
          </div>

          <div class="flexbox margin">
               <img
                    class="imagesize"
                    src="/joseph-gonzalez-zcUgjyqEwe8-unsplash.jpg"
                    alt=""
               />
               <div class="padding padding1">
                    <h2>7. Richtig portionieren</h2>
                    <p>
                         So sparen Sie nicht nur Lebensmittel, sondern auch
                         Kalorien: Wenn Sie sich bewusst nur so viel auf den
                         Teller nehmen, wie Sie sicher schaffen, endet weniger
                         Essen im Müll. Servieren Sie daher lieber kleine
                         Portionen und holen Sie sich bei Bedarf eine zweite.
                    </p>
               </div>
          </div>

          <div class="flexbox2 margin">
               <img
                    class="imagesize"
                    src="/lily-banse--YHSwy6uqvk-unsplash.jpg"
                    alt=""
               />
               <div class="padding padding1">
                    <h2>8. Essen spenden</h2>
                    <p>
                         Wenn Sie noch immer zu viele Lebensmittel übrighaben,
                         geben Sie etwas davon ab. Kollegen im Büro, Ihre
                         Nachbarn, die Tafel oder lokale Foodsharing-Posten
                         finden sicher Verwendung dafür. Tipp: Für viele
                         Regionen gibt es spezifische Foodsharing- Gruppen auf
                         Facebook, in denen Essensretter ihre Überbleibsel
                         kostenlos zur Abholung anbieten.
                    </p>
               </div>
          </div>

          <div class="flexbox margin">
               <img class="imagesize" src="/kompost.jpg" alt="" />
               <div class="padding padding1">
                    <h2>9. Lebensmittel kompostieren</h2>
                    <p>
                         Bevor Sie Lebensmittel wegwerfen, kompostieren Sie die
                         Produkte lieber – so finden sie als nährstoffreicher
                         Dünger Verwendung. Nutzen Sie dafür den praktischen
                         Tupperware-Behälter für kompostierbaren Abfall. Aber
                         Achtung: Dies sollten Sie nur als letzte Möglichkeit
                         ins Auge fassen.
                    </p>
               </div>
          </div>

          <div class="flexbox2 margin">
               <img
                    class="imagesize"
                    src="/markus-spiske-vyHo3nnk8G8-unsplash.jpg"
                    alt=""
               />
               <div class="padding padding1">
                    <h2>10. Entsorgungen im Auge behalten</h2>
                    <p>
                         Ein Tagebuch kann Ihnen dabei helfen, weniger
                         Lebensmittel zu entsorgen. So sehen Sie, was jede Woche
                         in Ihrem Haushalt weggeworfen wird und bekommen auf
                         lange Sicht ein Gefühl dafür, was Sie zu viel gekauft
                         haben. Wenn Sie diese Tipps im Alltag berücksichtigen,
                         sparen Sie nicht nur ordentlich Geld, sondern helfen
                         auch dabei, Lebensmittelverschwendung zu vermeiden.
                    </p>
               </div>
          </div>
          <%-include('./partials/footer')%>
     </body>
</html>
